{% extends 'base.html' %}
{% block title %}Withdraw Cash{% endblock %}

{% block body %}
<a href="{% url 'logout' %}">Logout</a>
 <h2>Withdraw Cash</h2>

<script>
function validateForm() {
  var x = document.forms["myForm"]["wit_cash"].value;
  if (x == "" || x == null) {
    alert("Amount must be filled out");
    return false;
  }
}
</script>

<form name="myForm" action="withdraw_amount/{{ customers.id }}" onsubmit="return validateForm()" method="POST">
    {% csrf_token %}
    <input type="number" name="wit_cash" value="">
    <br><br>

    <input type="submit" name="submit" value="Withdraw">

    <br><br><br><br>

    <form>
     <input type="button" value="Go back!" onclick="history.back()">
    </form>

</form>

{% endblock %}
