{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
{% load static %}
<h2>Login</h2>
<style>
        #login:hover {
            color: blue;
        }
        </style>
<form method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="uname" placeholder="User Name" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" name="pwd" placeholder="Password">
    <br><br>
    <input id="login" type="submit" name="submit" value="Login">
</form>


{% endblock %}