#col_wel {
  color: violet;
}

.center {
  display: block;
  margin: 0 auto;
}

#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
body {
  background-color: #f0f0f0;
}
.logo {
  display: block;
  text-align: center;
  margin: 10px auto;
}